/*
* @Author: jeremyjaymes
* @Date:   2017-04-04 22:20:14
* @Last Modified by:   jeremyjaymes
* @Last Modified time: 2017-04-04 22:21:42
*/

.button {
	border: 1px solid #dedede;
	display: inline-block;
	font-size: 85%;
	padding: 2px 10px;
}