{{ partial "structure/header" . }}
		<article class="post">
		    <header>
		        <h1 class="post-title">{{ .Title }}</h1>
		    </header>

		    <section class="post-content">
		        {{ .Content }}
		    </section>

		    <footer class="article-footer">                   
				<p>Something to say? Hit me up on Twitter or shoot me an email jeremy[at]papertreedesign[dot]com.</p>
				<p>	
					<a href="https://twitter.com/jeremyjaymes" class="twitter-follow-button" data-show-count="false">Follow @jeremyjaymes</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </p>
			</footer> <!-- end article footer -->
		</article>
{{ partial "structure/footer" . }}