{{ partial "structure/header" . }}

    	<main role="main">
    		<iframe src="//giphy.com/embed/13fxOgypGqLdM4?playOnHover=true" width="480" height="288" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/transparent-a-christmas-story-13fxOgypGqLdM4">via GIPHY</a></p>
    		<p>Looks like we can't find that one... sorry. Someday soon I'm going to enable a fancy search thing-a-ma-jig but for now try <a href="https://www.google.com/#q=site:jeremyjaymes.com" target="_blank">here</a></p>
    	</main>

{{ partial "structure/footer" . }}