{{ partial "structure/header" . }}
		<main role="main">
			<div class="intro">
				<p>Hi! I'm Jeremy a solo web and technology consultant. My days are spent helping marketing departments build and execute digital projects more efficiently. These are my ideas about technology, code and how new freelancers can start making good decisions from day one.</p>
			</div>
			<div class="post-list">
	        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
	        {{ range .Paginator.Pages }}
	            {{ .Render "content-list" }}
	        {{ end }}
	        {{ partial "pagination" . }}
		    </div>
		</main>
{{ partial "structure/footer" . }}