/*
* @Author: jeremyjaymes
* @Date:   2017-03-23 07:16:59
* @Last Modified by:   jeremyjaymes
* @Last Modified time: 2017-05-04 09:24:57
*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container,
.contain {
	max-width: 42rem;
	width: 94%;
	margin: 0 auto;
	
	@media screen and (min-width: 768px) {
		width: 100%;
	}
}